In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pathlib import Path

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

In [2]:
proj_dir = Path('../../')
data_fn = Path("Data/LandsatTemperature/columbia.csv")
clean_data_fn = Path("Data/LandsatTemperature/columbia_clean.csv")

In [3]:

data = pd.read_csv(proj_dir / data_fn)

# Replace "NULL" with NaN and convert LandTempC, NDVI, WaterTempC, ClimateClass, RKm to float
data = data.replace('NULL', np.nan)
data['LandTempC'] = data['LandTempC'].astype(float)
data['NDVI'] = data['NDVI'].astype(float)
data['WaterTempC'] = data['WaterTempC'].astype(float)
data['ClimateClass'] = data['ClimateClass'].astype(float)
data['RKm'] = data['RKm'].astype(float)

# Convert Date to datetime
data['Date'] = pd.to_datetime(data['Date'])

data.head()

,ReachID,Date,LandTempC,WaterTempC,NDVI,Mission,Name,ClimateClass,RKm
0,42,2022-02-17,3.94372,5.39979,NaN,L9,Columbia_River_1,9.0,0.0
1,42,2022-03-05,11.78180,6.21907,0.168393,L9,Columbia_River_1,9.0,0.0
2,42,2022-04-06,10.65880,4.34301,0.122964,L9,Columbia_River_1,9.0,0.0
3,42,2022-04-22,18.02620,9.56365,0.113320,L9,Columbia_River_1,9.0,0.0
4,42,2022-05-08,18.19150,11.31710,0.176089,L9,Columbia_River_1,9.0,0.0

In [4]:
# save the cleaned data with file name columbia_cleaned.csv
data.to_csv(proj_dir / clean_data_fn, index=False)